.game_page {
  
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/pyramide_fond_mobile.png");
  background-size: cover;
  

  .game_content{
    display: flex;
    align-items: center;
    justify-content: center;
    .pyramid{
      width: 50%;
  }}


  @media(min-aspect-ratio: 3/4){
    background-image: url("./assets/pyramide_fond.png");
  }
}
