.game_page {
  width: 100%;
  height: 100vh;
  //background-image: url("./assets/pyramide_fond_mobile.png");
  //background-size: cover;

  .game_content {
    display: flex;
    align-items: center;
    justify-content: center;
    .pyramid {
      position: absolute;
      width: 60%;
      bottom: 0;
    }
  }

  // @media (min-aspect-ratio: 3/4) {
  //   background-image: url("./assets/pyramide_fond.png");
  // }

  .perso {
    width: 100%;
  }

  .perso1 {
    position: absolute;
    bottom: 0;
    width: 8%;
  }

  .perso2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8%;
  }
}
