.game_page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-image: url("./assets/pyramide_fond_mobile.png");
  //background-size: cover;

  .countdown {
    position: absolute;
    top: 10%;
    left: 10%;
  }
  .game_content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: 70%;
    height: 100%;

    .pyramid {
      width: 95%;

    }

    .perso {
      width: 100%;
    }
  
    .perso1 {
      position: absolute;
      bottom: 0;
      width: 8%;
      left: 0;
    }
  
    .perso2 {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 8%;
    }
  }

  // @media (min-aspect-ratio: 3/4) {
  //   background-image: url("./assets/pyramide_fond.png");
  // }

 
}
