.card-profil {
  max-width: 30rem;
  background-color: #e0741b;
  padding: 0;
  min-width: 0;
  margin: 0;
  max-height: 700px;
}

.card-profil__image {
  max-width: auto;
  border-radius: 10px;
  height: 20rem;
  background-color: white;
  padding: 1rem;
}

.card-body {
  max-width: auto;
}
